GITHUB_OWNER=tu_usuario
GITHUB_REPO=tu_repo
GITHUB_BRANCH=main
GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

SCRAPER_URL=https://www.valencia.es/valenciaalminut/
SCRAPER_TABLE_ID=tabla_dinamica

LOCAL_TIMEZONE=Europe/Madrid
RETRAIN_EVERY_DAYS=5
MIN_NEW_SCRAPES_FOR_RETRAIN=15

